/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1240px;
    margin: auto;
    width: 95%;
}

.fluid-container {
    width: 100%;
    margin: auto;
}

.margin-auto {
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.diaplay-flex-responsive {
    display: flex;
}

.banner-button {
    background: #FCBF1B;
    border-radius: 2px;
    color: black;
    font-size: 14px;
    padding: 16px 26px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.button {
    background: #FCBF1B;
    border-radius: 2px;
    color: black;
    font-size: 11px;
    padding: 10px 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

/* font sizes */
.text-extra-large {
    font-size: 60px;
    line-height: 66px;
}

.text-larger {
    font-size: 34px;
}

.text-large {
    font-size: 29px;
    line-height: 36px;
}

.text-medium-large {
    font-size: 24px;
    line-height: 29px;
}

.text-medium-small {
    font-size: 18px;
}

.text-small {
    font-size: 16px;
    line-height: 24px;
}

.text-samller {
    font-size: 14px;
    line-height: 24px;
}

.font-extra-small {
    font-size: 11px;
}

/* font weight */
.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.font-regular {
    font-weight: 400;
}

/* font weight */

/* color classes */
/* text color */
.text-black {
    color: black;
}

.text-white {
    color: rgb(255, 255, 255);
}

.text-ash {
    color: #52525B;
}

.text-light-ash {
    color: #7F7F7F;
}

.text-yellow {
    color: #EDA71D;
}

/* text alignment */
.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

/* background color */
.bg-white {
    background-color: #fff;
}

.bg-lightash {
    background-color: #F5F5F5;
}

.bg-yellow {
    background-color: #FCBF1B;
}


.right {
    width: 50%;


}

.left {
    width: 50%;

}

.image {
    width: 100%;
}


/* LANDING PAGE */
/* header section */
/* top-bar */

header .top-bar {
    justify-content: space-between;
    align-items: center;
}

header .top-bar .right-side ul {
    gap: 15px;
    align-items: center;
}

header .top-bar .right-side ul li {
    padding: 35px 0;
}

header .top-bar .right-side ul li a {
    border-radius: 2px;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;

}

header .top-bar .right-side ul li .anchor_1:before {
    content: '';
    background: url(../logos/nav-call.png) no-repeat;
    background-size: 15px;
    background-position: left center;
    padding-left: 25px;
}

header .top-bar .right-side ul li .anchor_2::before {
    content: '';
    background: url(../logos/nav-quote.png) no-repeat;
    background-size: 15px;
    background-position: left center;
    padding-left: 25px;
}

header .top-bar .mobile-view .search-button {
    border-radius: 2px;
    /* padding: 8px 10px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

header .top-bar .mobile-view {
    padding: 35px 0;
    display: none;
}

header .top-bar .mobile-view .content {
    flex: 1;
}

/* top-bar */

/* navigation */
header .navigation {
    padding: 20px 0;
}

header .navigation ul {
    display: flex;
    justify-content: space-between;
}

header .navigation ul li {
    padding: 0 55px;
    border-right: 2px solid rgba(0, 0, 0, 0.11);
}

header .navigation ul li:first-child {
    border-left: 2px solid rgba(0, 0, 0, 0.11);
}

header .navigation ul li a:hover {
    border-bottom: 3px solid #FCBF1B;
}

header .navigation ul li a.active {
    border-bottom: 3px solid #FCBF1B;
}

/* navigation */
/* header section */


/* main section */
/* banner section */
main .banner {
    /* padding: 10px 0 100px 0; */
}

main .banner .top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 6px;
}

main .banner .top .contents {
    position: relative;
    height: 50vh;
}

main .banner .top .contents .content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .banner .top .contents .slider-navigation .left-arrow {
    position: absolute;
    left: 0;
    top: 45%;
}

main .banner .top .contents .slider-navigation .right-arrow {
    position: absolute;
    right: 0;
    top: 45%;

}

main .banner .top .contents .content .text .paragraph {
    padding-top: 30px;
}

main .banner .top .contents .content .banner-button-div {
    padding-top: 45px;
}

main .banner .bottom {
    /* display: flex; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    gap: 6px;
}

main .banner .bottom .content {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    position: relative;
    /* width: 100%; */
}

main .banner .bottom .content .heading {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .banner .bottom .content:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/1.png);
}

main .banner .bottom .content:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/2.png);
}

main .banner .bottom .content:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/3.png);
}

/* banner section */

main .services-section {
    border-bottom: 10px solid rgba(0, 0, 0, 0.08);
    padding: 85px 0;
    align-items: center;
}

main .services-section .heading {
    align-items: center;
    gap: 200px;
}

main .services-section .heading p {
    padding-left: 24px;
    border-left: 4px solid #FCBF1B;
}

main .services-section .features {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 95px 0 0 0;
    gap: 70px;

}

.text-nowrap {
    white-space: nowrap;
}

main .services-section .features .feature {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

main .services-section .features .list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

main .services-section .features .list ul li p {
    content: '';
    background: url(../logos/check.png) no-repeat;
    background-size: 15px;
    background-position: left center;
    padding-left: 25px;
    white-space: pre;
}

main .services-section .services {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    gap: 60px;
    position: relative;
}

main .news-info .services .service .text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


main .services-section .full-service {
    flex: 1;
}

/* service arrows */

main .services-section .services {
    position: relative;
}

main .services-section .services .left-arrow {
    position: absolute;
    top: 35%;
    left: -15px;
}

main .services-section .services .right-arrow {
    position: absolute;
    top: 35%;
    right: -15px;
}

main .services-section .services .bottom {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

/* service arrows */

main .news-info .services {
    justify-content: center;

}

main .news-info {
    border: none;
}

/* main section */


/* footer section */
footer .footer-section {
    padding: 90px 0 30px 0;
    background-image: url(../images/footer-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .footer-section .top {
    display: flex;
    flex-wrap: wrap;
    gap: 140px;
}

footer .footer-section .top .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

footer .footer-section .top .logo-section {
    justify-content: space-between;
}

footer .footer-section .top .logo-section .social {
    display: flex;
    gap: 25px;
}

footer .footer-section .bottom {
    padding-top: 100px;
    text-align: end;
}

/* footer section */
/* LANDING PAGE */

/* ABOUT PAGE */
/* bottom bar */

header .bottom-bar-section {
    background-image: url(../images/bottom-bar.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35px 0;
}

header .bottom-bar-section .bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .bottom-bar-section .bottom-bar .left-side {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* bottom bar */


main .services-section .features .feature span {
    font-size: 60px;
}

main .logistic-service .features .feature ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .choose-us .features {
    align-items: flex-start;
}

main .choose-us .features .feature {
    display: flex;
    flex-direction: column;

    gap: 50px;
}

main .our-partners {
    border: none;
}

main .our-partners .partners {
    padding-top: 95px;
    justify-content: space-between;
    position: relative;
}

main .our-partners .partners .partner {
    background: #F5F5F5;
    padding: 10px 22px;

}

main .our-partners .partners .left-arrow {
    position: absolute;
    bottom: 20%;
    right: 98.5%;
}

main .our-partners .partners .right-arrow {
    position: absolute;
    bottom: 20%;
    left: 98.5%;
}

/* ABOUT PAGE */


/* SERVICE PAGE */
main .our-specialisation .services {
    padding-top: 60px;
    flex-wrap: wrap;
}

main .our-specialisation .blog-navigation {
    padding-top: 90px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

main .our-specialisation .services {
    justify-content: flex-start;
}

/* SERVICE PAGE */

/* BLOG PAGE */
main .blog .services {
    padding-top: 90px;
}

main .blog-content {
    border: none;
}

main .blog-content .bottom-section {
    display: flex;
    justify-content: center;
}

main .blog-content .pagination {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 100px;
}

main .blog-content .pagination .page {
    padding: 0 8px;
}

main .blog-content .pagination .page.active {
    border-bottom: 2px solid #FCBF1B;
}

/* BLOG PAGE */

/* SINGLE BLOG PAGE */
main .new-blog-content {
    display: flex;
    gap: 90px;
    justify-content: center;
    padding: 90px 0;
}

main .new-blog-content .left-side {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 45px;
}


main .new-blog-content .left-side .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .new-blog-content .left-side .text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

main .new-blog-content .left-side .text ul li .check {
    text-indent: -30px;
    padding-left: 30px;
}

main .new-blog-content .left-side .text ul li .check::before {
    content: '';
    background: url(../images/blog_2/check.png) no-repeat;
    background-size: 15px;
    background-position: left center;
    padding-left: 30px;
    white-space: pre;
}

main .new-blog-content .left-side .image-div {
    display: flex;
    gap: 30px;
}

main .new-blog-content .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

main .new-blog-content .right-side .rated-post {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

main .new-blog-content .right-side .image-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .new-blog-content .border-left {
    padding-left: 14px;
    border-left: 5px solid #FCBF1B;
    display: inline;
}

/* SINGLE BLOG PAGE */

/* CONTACT-PAGE */
main .contact-section {
    justify-content: space-between;
    gap: 50px;
}

main .contact-section .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .frequent-question .left-side {
    flex: 1;
}

main .frequent-question .right-side {
    flex: 2;
}

main .frequent-question .right-side ul {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

main .frequent-question .right-side ul li .check {
    text-indent: -30px;
    padding-left: 30px;
}

main .frequent-question .right-side ul li .check::before {
    content: '';
    background: url(../images/contact/q_ash.png) no-repeat;
    background-size: 20px;
    background-position: left center;
    padding-left: 30px;
    white-space: pre;
}

main .frequent-question .right-side ul li .check.active::before {
    background: url(../images/contact/q_yellow.png) no-repeat;
    background-size: 20px;
    background-position: left center;
    padding-left: 30px;
    white-space: pre;
}

main .frequent-question .right-side ul li .question {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .frequent-question .right-side ul li .question .answer {
    padding-left: 30px;
}

main .frequent-question .left-side {
    padding-right: 100px;
}

main .feedback .right-side .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

main .feedback .right-side .form .content .field {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main .feedback .right-side .form .content .input {
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 14.5px;
}

main .feedback .right-side .form .content .massage {
    padding: 14.5px 14.5px 120px 14.5px;
}

main .feedback .right-side .form .content:first-child {
    gap: 30px;
}

main .feedback .right-side .form .content:first-child .field {
    flex: 1;
}

main .feedback .right-side .form .content .check-field {
    flex-direction: row;
}

main .feedback .right-side .form .content:last-child .button {
    display: block;
    padding: 15px;
}

main .feedback {
    border: none;
}

/* CONTACT-PAGE */

@media only screen and (max-width: 550px) {
    .text-extra-large {
        font-size: 24px;
        line-height: 29px;
    }

    .text-large {
        font-size: 15px;
    }

    .container {
        width: 90%;
    }

    .right {
        width: 100%;


    }

    .left {
        width: 100%;

    }

    .diaplay-flex-responsive {
        flex-direction: column;
    }



    /* LANDING PAGE */
    /* top bar */
    header .top-bar .left-side img[alt="nav-logo"] {
        width: 60%;
    }

    header .top-bar .right-side {
        display: none;
    }

    header .top-bar .mobile-view {
        display: flex;
        gap: 6.5px;
    }

    header .top-bar .mobile-view .search-button a {
        display: inline-block;
        text-align: center;
        /* padding: 2px; */
    }

    header .top-bar .mobile-view .search-button img {
        width: 50%;
    }

    /* top bar */

    /* navigation */
    header .navigation {
        display: none;
    }

    /* navigation */


    /* banner */
    .banner .image {
        width: 50%;
    }


    main .banner .bottom .content {
        flex: auto;
    }

    /* banner */



    main .services-section {
        padding: 40px 0;
    }

    main .services-section .services {
        padding-top: 40px;
    }

    main .services-section .services .left-arrow,
    .right-arrow {
        width: 20px;
    }

    main .services-section .heading {
        gap: 20px;
        align-items: flex-start;
    }

    main .services-section .heading p {
        font-size: 14px;
        padding-left: 12px;
    }

    main .services-section .features {
        gap: 30px;
        align-items: flex-start;
        padding: 40px 0 0 0;
    }


    main .news-info .services {
        margin: auto;
        width: 90%;
    }

    .mobile-view-none {
        display: none;
    }

    main .services-section .services .left-arrow {
        position: absolute;
        top: 135px;
        left: -9px;
    }

    main .services-section .services .right-arrow {
        position: absolute;
        top: 135px;
        right: -9px;
    }

    main .news-info .services {
        flex-direction: column;
        /* align-items: center; */
        margin: 0;
    }

    main .news-info .services .service {
        width: 110%;

    }

    footer .footer-section {
        padding-top: 40px;
    }

    footer .footer-section .bottom {
        text-align: start;
    }

    /* LANDING PAGE */

    /* ABOUT PAGE */
    main .logistic-service .features .feature:first-child {
        order: 2;
    }

    main .logistic-service .features .feature:last-child {
        order: 1;
    }

    main .logistic-service .features .feature:nth-child(2) {
        order: 3;
    }

    main .our-partners .partners {
        padding-top: 40px;
    }

    main .our-partners .partners .left-arrow {
        width: 23px;
        right: 96%;
        top: 55%;
    }

    main .our-partners .partners .right-arrow {
        width: 23px;
        left: 96%;
        top: 55%;
    }

    main .our-partners .partners .partner {
        width: 100%;
        text-align: center;
    }

    main .our-partners .partners {
        justify-content: center;
    }

    /* ABOUT PAGE */

    /* SERVICE PAGE */
    header .bottom-bar-section {
        padding: 20px 0;
    }

    header .bottom-bar-section .bottom-bar {
        align-items: flex-start;
        gap: 10px;
    }

    main .our-specialisation .blog-navigation {
        padding-top: 40px;
        gap: 30px;
    }

    main .our-specialisation .services {
        width: 100%;
        justify-content: flex-start;
    }

    /* SERVICE PAGE */


    /* SINGLE BLOG PAGE */
    main .new-blog-content {
        flex-direction: column;
        gap: 38px;
    }

    main .new-blog-content .left-side {
        gap: 30px;
    }

    main .new-blog-content .left-side .image-div {
        flex-direction: column;
        gap: 20px;
    }

    main .new-blog-content .right-side {
        gap: 38px;
        padding-top: 0;
    }

    main .new-blog-content .left-side h1 {
        font-size: 26px;
    }

    /* SINGLE BLOG PAGE */

    /* CONTACT PAGE */
    main .frequent-question .left-side {
        padding-bottom: 40px;
    }

    main .frequent-question .left-side {
        padding-right: 0;
    }

    main .frequent-question .left-side h1,
    main .feedback .left-side h1 {
        font-size: 26px;
    }

    /* CONTACT PAGE */

}

@media only screen and (min-width:550px) and (max-width:700px) {
    .navigation {
        display: none;
    }

    .mobile-view-none {
        display: none;
    }

    header .top-bar .right-side {
        display: none;
    }

    header .top-bar .mobile-view .search-button a {
        display: inline-block;
        padding: 0;
    }

    header .top-bar .mobile-view .search-button img {
        /* width: 70%; */
        padding: 5px;
        padding-bottom: 2px;
    }

    header .top-bar .mobile-view {
        display: flex;
        width: 15%;
        gap: 20px;
        /* align-items: center; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    main .services-section .heading {
        gap: 100px;
    }
}

@media only screen and (min-width:700px) and (max-width:1200px) {
    header .navigation ul li {
        padding: 0 20px;
        flex: 1;
        text-align: center;

    }
}